.img1 {
    height: 200px;
    width: 336px;
    border-radius: 10px;
}

.img2 {
    height: 32px;
    width: 32px;
}

.Body {
    background: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.learn{
    background:  hsl(47, 88%, 63%);
    font-weight: 700 ;
}
.content {
    border: solid black;
    box-shadow: 10px 10px ;
    border-radius: 20px;
    border-width: 2px;
    height: 522px;
    width: 384px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    font-family: "Figtree" , sans-serif; 
    transition: transform 0.3s ease;
}

.content:hover {
    transform: scale(1.5)
}
.quote {
    height: 72px;
    width: 336px;
    color: hsl(0, 0%, 42%)
}

.text2 {
    height: 32px;
    width: 129px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 700;